.nav-container {
  background-color: #272727;
  display: flex;
  justify-content: center;
}

.nav-content {
  width: 90%;
  padding: 20px 0px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style-type: none;
  padding: 0;
}

.nav-logo {
  width: 150px;
}

@media (max-width: 767px) {
  .nav-logo {
    width: 65px;
  }
}

.link-styling {
  text-decoration: none;
}

.nav-label-container {
  display: flex;
  margin: 0px;
}

@media (max-width: 767px) {
  .nav-label-container {
    display: none;
  }
}

.nav-label {
  font-family: 'Roboto';
  font-size: 16px;
  color: #f8fafc;
  margin-right: 15px;
}

.logout-button {
  background-color: #6366f1;
  padding: 8px 25px;
  border-style: none;
  border-radius: 4px;
  font-family: 'Roboto';
  font-size: 14px;
  color: #f8fafc;
  cursor: pointer;
}

@media (max-width: 767px) {
  .logout-button {
    display: none;
  }
}

.sm-nav-icons-container {
  display: none;
}

@media (max-width: 767px) {
  .sm-nav-icons-container {
    display: flex;
    align-items: center;
  }

  .sm-nav-icons {
    color: #f8fafc;
    font-size: 16px;
    margin-left: 15px;
  }

  .sm-nav-buttons {
    background-color: transparent;
    border-style: none;
    padding: 0px;
    cursor: pointer;
  }
}
